    @font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(./sourcesanspro.woff) format('woff');
}

    @font-face {
      font-family: 'Anton';
      font-style: normal;
      font-weight: 400;
      src: local('Anton'), url(./anton.woff) format('woff');
    }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(./sourcesansprobold.woff) format('woff');
}

  html {
    height: 100%;
  }
  body {
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;

      background-color:#fbd311;

      background-image: linear-gradient(bottom, rgb(248,182,27) 0%, rgb(251,216,17) 100%);
      background-image: -o-linear-gradient(bottom, rgb(248,182,27) 0%, rgb(251,216,17) 100%);
      background-image: -moz-linear-gradient(bottom, rgb(248,182,27) 0%, rgb(251,216,17) 100%);
      background-image: -webkit-linear-gradient(bottom, rgb(248,182,27) 0%, rgb(251,216,17) 100%);
      background-image: -ms-linear-gradient(bottom, rgb(248,182,27) 0%, rgb(251,216,17) 100%);

      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(248,182,27)),
        color-stop(1, rgb(251,216,17))
      );

    position:relative;
    font-family: 'Source Sans Pro', sans-serif;

  }


  .black-bg{
    background-color:black;
  }

  .wrap{
    width:700px;
    margin:0 auto;
    position:relative;
  }

  h1{
    position:relative;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    background-color:black;
    font-size:90px;
    letter-spacing:5px;
    color:#f8d00e;
    z-index:1;
    cursor:default;
  }

  #logo{
    position:absolute;
    z-index:0;
    top:-118px;
    width:229px;
    left:10px;
  }


  h2{ 
    padding-top:33px;
    width:120px;
    text-align:left;
    font-family: 'Anton', sans-serif;
    top:33px;
    font-weight:bold;
    font-size:50px;
    line-height:100%;
    cursor:default;
    text-transform: uppercase;
    margin-bottom:33px;
    
  }

  #version{
     color:#4c1400;
     margin-left:20px;
  }

  #the-buttons{
    margin-top:100px;    
    width:700px;
  }

  #the-buttons a{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    display:inline-block;
    margin:0px 60px 0px 0px;

    color:black;
    font-size:50px;
    position: relative;
    text-decoration: none;
  }
  #the-buttons a:hover{
    color:#a42c00;
  }

  #credit{
    font-family: 'Source Sans Pro', sans-serif;
    padding:50px 0px;

    font-size:18px;
  }

  #about{
   font-family: 'Source Sans Pro', sans-serif;
     margin-top:20px;
    
    color:black;
    font-size:18px;
    width:700px;

  }

  #about a{

  }

  #about a:hover{}
b{
  font-weight:bold;
}
  p{
    margin:20px 0px;
  }
 a{
    color:#822200;

    text-decoration: none;
  }
  a:hover{
    color:black;
  }


  ol{list-style-type:decimal;padding-left:20px;}
  ul{list-style-type:square; padding-left:20px;}
  li{margin:10px 0px;}